<div class="bg-main select-none">
<div class=" text-header-text flex items-center h-[80px] basic-width mx-auto">
    <h1 class="text-[35px] font-bold cursor-pointer mb-0">CINEMA PROJECT</h1>
    <ul class="flex items-center flex-1 justify-between text-[17px] pl-[60px] mb-0">
        <li class="hover:text-header-text-hover cursor-pointer"
        [class.text-header-text-hover]="active == 'home'" 
        (click)="changeActive('home')"
        routerLink="/home">Trang chủ</li>

        <li class="hover:text-header-text-hover cursor-pointer"
        [class.text-header-text-hover]="active == 'showtimes'"
        (click)="changeActive('showtimes')"
        routerLink="/showtimes">Lịch chiếu</li>

        <li class="hover:text-header-text-hover cursor-pointer"
        [class.text-header-text-hover]="active == 'news'"
        (click)="changeActive('news')"
        routerLink="/news">Tin tức</li>

        <li class="hover:text-header-text-hover cursor-pointer"
        [class.text-header-text-hover]="active == 'ticket'"
        (click)="changeActive('ticket')"
        routerLink="/ticket">Giá vé</li>

        <li class="hover:text-header-text-hover cursor-pointer"
        [class.text-header-text-hover]="active == 'about'"
        (click)="changeActive('about')"
        routerLink="/about">Giới thiệu</li>

        <li class="hover:text-header-text-hover cursor-pointer"
        [class.text-header-text-hover]="active == 'banve'"
        (click)="changeActive('banve')"
        routerLink="/payment">Bán Vé</li>

        <li *ngIf="userId === null; else showLoggedIn">
            <!-- Content to display when user is NOT logged in -->
                <button class="border-2 rounded-full border-header-text h-[41px] w-[143px]
                    cursor-pointer hover:scale-105 transition"
                    routerLink="/signup">
                    Đăng ký
                </button>
                <button class="bg-login rounded-full h-[41px] w-[143px] ml-[20px]
                    cursor-pointer hover:scale-105 transition"
                    routerLink="/login">
                    Đăng nhập
                </button>
        </li>
          
        <ng-template #showLoggedIn>
            <div class="group relative flex items-center justify-between cursor-pointer" >
                <div class="w-[50px] h-[50px] rounded-full bg-sub-title"></div>
                <div class="pl-[10px]">{{userName}}</div>
                <ul class="hidden group-hover:block absolute top-[100%] left-0 w-[200px] rounded-md overflow-hidden">
                    <li class="px-2 hover:bg-sub-title py-2" routerLink="/profile">Thông tin cá nhân</li>
                    <li class="px-2 hover:bg-sub-title py-2" (click)="clearUserId()">Đăng xuất</li>
                </ul>
            </div>
        </ng-template>
    </ul>
</div>
</div>

