<div class="bg-footer-back text-header-text flex flex-col items-center
py-[25px] select-none">
    <ul class="text-[17px] flex">
        <li class=" cursor-pointer px-[30px]">Chính sách</li>
        <li class=" cursor-pointer px-[30px]" routerLink="/showtimes">Lịch chiếu</li>
        <li class=" cursor-pointer px-[30px]" routerLink="/news">Tin tức</li>
        <li class=" cursor-pointer px-[30px]">Giá vé</li>
        <li class=" cursor-pointer px-[30px]">Liên hệ</li>
    </ul>

    <div class="py-[30px]">
        <img src="assets/tech/angular.png" alt="" class="w-[100px] h-auto inline-block mx-3">
        <img src="assets/tech/primeng.png" alt="" class="w-[100px] h-auto inline-block mx-3">
        <img src="assets/tech/express.png" alt="" class="w-[100px] h-auto inline-block mx-3">
        <img src="assets/tech/tailwind.png" alt="" class="w-[100px] h-auto inline-block mx-3">
    </div>

    <p class="mt-3">Copyright by Nhóm 15</p>
</div>
