
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
        *{
            box-sizing: border-box;
            background-color: #10141b;
            color: white;
        }
        
        #siu{
            background-color: #10141b;
            color: white;
        }
        #si{
            background-color: red;
            color: white;
        }
        h3{
            margin-bottom: 10px;
        }
        
        #wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 80vh;
            font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 20px;
        }
        form {
            border: 1px solid #dadce0;
            border-radius: 5px;
            padding: 30px;
            text-align: center;
        }
        h3 {
            font-size: 24px;
            font-weight: 500;
        }
        .form-group {
            margin-bottom: 15px;
            position: relative;
        }
        input {
            height: 50px;
            width: 300px;
            outline: none;
            border: 1px solid #dadce0;
            padding: 10px;
            border-radius: 5px;
            font-size: inherit;
            color: #202124;
            transition: all 0.3s ease-in-out;
        }
        label {
            position: absolute;
            padding: 0px 5px;
            left: 5px;
            top: 50%;
            pointer-events: none;
            transform: translateY(-50%);
            background: #fff;
            transition: all 0.3s ease-in-out;
        }
        .form-group input:focus {
            border: 2px solid #1a73e8;
        }
        .form-group input:focus + label, 
        .form-group input:valid + label {
            top: 0px;
            font-size: 13px;
            font-weight: 500;
            color: #1a73e8;
        }
        input#btn-login {
            background: #1a73e8;
            color: #fff;
            cursor: pointer;
        }
        input#btn-login:hover {
            opacity: 0.85;
        }
        #successMessage {
            margin-top: 15px;
            color: green;
            font-size: 18px;
            display: none; /* Ban đầu ẩn */
        }
    