<div class=" text-title bg-main px-[100px] pb-[100px] pt-10">
    <div class="flex flex-wrap xl:flex-nowrap gap-5">
  
      <!-- Movie Information Section -->
      <div class="w-full xl:w-2/3">
        <div class="p-4 md:p-6 space-y-6 bg-[#1A1D23] rounded-2xl text-sm md:text-base">
          <h4 class="font-bold">Thông tin phim</h4>
  
          <div>
            <p>Phim</p>
            <p class="font-semibold">{{Movie.phim.ten_phim}}</p>
          </div>
  
          <div class="flex items-center gap-10">
            <div class="w-1/2">
              <p>Ngày giờ chiếu</p>
              <div class="flex items-center space-x-2">
                <span class="font-bold text-orange-500">{{Movie.thoi_gian}}</span>
                <span>-</span>
                <span class="font-semibold">{{Movie.phim.ngay_phat_hanh}}</span>
              </div>
            </div>
            <div>
              <p>Ghế</p>
              <p class="font-semibold">{{bookingData.so_ghe.join(', ')}}</p>
            </div>
          </div>
  
          <div class="flex items-center gap-10">
            <div class="w-1/2">
              <p>Định dạng</p>
              <p class="font-semibold">2D</p>
            </div>
            <div>
              <p class="font-semibold">{{Movie.phong_chieu.ten_phong}}</p>
            </div>
          </div>
        </div>
  
        <!-- Payment Information Section -->
       
      </div>
  
      <!-- Payment Method and Cost Section -->
      <div class="w-full xl:w-1/3 flex-1 text-sm md:text-base">
        <div class="bg-[#1A1D23] h-full rounded-2xl p-4 md:p-6 space-y-5">
  
          <!-- Cost Section -->
          <h4 class="font-bold">Chi phí</h4>
          <div>
            <div class="flex items-center justify-between ">
              <p>Thanh toán</p>
              <p class="font-bold">{{bookingData.tong_tien | number: '1.0-0'}}đ</p>
            </div>
            <div class="flex items-center justify-between">
              <p>Phí</p>
              <p class="font-bold">0đ</p>
            </div>
            <div class="flex items-center justify-between">
              <p>Tổng cộng</p>
              <p class="font-bold">{{bookingData.tong_tien | number: '1.0-0'}}đ</p>
            </div>
          </div>
  
          <!-- Action Buttons and Note -->
          <div class="space-y-3">
            <button class="inline-flex items-center justify-center rounded-full text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-danger text-destructive-foreground hover:bg-blue-500 h-10 px-8 py-2 w-full hover:brightness-125"
            (click)="thanhToan()">Đặt vé</button>
            <button class="inline-flex items-center justify-center rounded-full text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 hover:bg-accent hover:text-accent-foreground h-10 px-8 py-2 w-full"
            (click)="back()">Quay lại</button>
            <div class="text-sm text-center mx-auto mt-4 text-orange-500">
              <b>Lưu ý:</b> Không mua vé cho trẻ em dưới 13 tuổi đối với các suất chiếu phim kết thúc sau 22h00 và không mua vé cho trẻ em dưới 16 tuổi đối với các suất chiếu phim kết thúc sau 23h00.
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>
  
