<div class="pt-20 xl:pt-28 pb-10 xl:pb-20 px-4 xl:px-0">
    <div class="mx-auto max-w-7xl"><h3 class="text-2xl font-bold text-center mb-6">Giới thiệu</h3>
        

        <div class="mt-10">
            <div id="headlessui-tabs-panel-:rj:" role="tabpanel" aria-labelledby="headlessui-tabs-tab-:rf:" tabindex="0" data-headlessui-state="selected">
            <div>
            <p class="ql-align-justify">         Nhằm đáp ứng nhu cầu ngày càng cao của khách hàng và cải thiện quy trình quản lý vé của các rạp chiếu phim, nhóm chúng tôi quyết định thực hiện dự án. "Phân tích và thiết kế hệ thống quản lý đặt vé rạp chiếu phim trực tuyến". Dự án này hướng tới việc xây dựng một hệ thống hiện đại, giúp khách hàng dễ dàng tra cứu thông tin phim, chọn ghế ngồi, đặt vé và thực hiện thanh toán trực tuyến một cách nhanh chóng, thuận tiện. Đồng thời, hệ thống cũng hỗ trợ cho các quản lý rạp trong việc theo dõi số lượng vé, quản lý doanh thu và phân tích dữ liệu hiệu quả hơn..</p>
            <p class="ql-align-justify">&nbsp;&nbsp;&nbsp;Website: www.nhom15.com.vn</p>
            <p class="ql-align-justify">&nbsp;&nbsp;&nbsp;Email: nhom15&#64;gmail.com</p><p>&nbsp;&nbsp;&nbsp;Số điện thoại: 024.3514 1791 / 024.3514 8647</p><p class="ql-align-justify"><br></p>
            <p class="ql-align-justify ql-indent-2"><img src="https://api.chieuphimquocgia.com.vn/Content/Images/Master/0017151.jpg" width="1257"></p><p class="ql-align-justify"><br></p>
            <p class="ql-align-justify"><br></p><p class="ql-indent-5"><br></p><p class="ql-align-center"><br></p></div>
            <div class="mt-6 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-6"></div></div>
            <span id="headlessui-tabs-panel-:rk:" role="tabpanel" aria-labelledby="headlessui-tabs-tab-:rg:" tabindex="-1" style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span>
            <span id="headlessui-tabs-panel-:rl:" role="tabpanel" aria-labelledby="headlessui-tabs-tab-:rh:" tabindex="-1" style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span>
            <span id="headlessui-tabs-panel-:rm:" role="tabpanel" aria-labelledby="headlessui-tabs-tab-:ri:" tabindex="-1" style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px;"></span>
        </div>

        

       

    </div>
</div>
