<div class="bg-main">
    <h1 class="text-[23px] font-bold text-center text-title m-0 pt-[30px]">Tin tức</h1>
    <div class="grid grid-cols-4 gap-4 basic-width mx-auto py-[30px]">
        <app-news-card></app-news-card>
        <app-news-card></app-news-card>
        <app-news-card></app-news-card>
        <app-news-card></app-news-card>
        <app-news-card></app-news-card>
        <app-news-card></app-news-card>
        <app-news-card></app-news-card>
        <app-news-card></app-news-card>
    </div>
</div>
