<div class="bg-main pb-[80px]">
    <div>
        
    </div>

    <div class="text-title basic-width mx-auto">
        <section class="pt-[80px]">
            <div class="flex justify-between py-[15px]">
                <h1 class="text-[23px]" >
                    <span class="bg-red inline-block p-2 rounded-full"></span> Phim đang chiếu
                </h1>
            </div>
            <div class="grid grid-cols-4 gap-5">
                <div *ngFor="let schedule of nowShowing" >
                        <app-basic-card
                            [title]="schedule.phim.ten_phim"
                            [imageUrl]="schedule.phim.image"
                            [genre]="schedule.phim.the_loai"
                            [releaseDate]="schedule.phim.ngay_phat_hanh"
                            [id]="schedule.id"
                        />
                </div>
            </div>
        </section>

        <section class="border-t border-sub-title mt-[80px]">
            <div class="flex justify-between py-[15px]">
                <h1 class="text-[23px]">
                    <span class="bg-red inline-block p-2 rounded-full"></span> Phim sắp chiếu
                </h1>
            </div>
            <div class="grid grid-cols-4 gap-5">
                <section *ngFor="let schedule of upcoming">
                    <app-basic-card
                        [title]="schedule.phim.ten_phim"
                        [imageUrl]="schedule.phim.image"
                        [genre]="schedule.phim.the_loai"
                        [releaseDate]="schedule.phim.ngay_phat_hanh"
                        [id]="schedule.id"
                    />
                </section>
            </div>
        </section>
    </div>
</div>