<div class="bg-main text-title">
    <div class="flex flex-col items-center py-[30px]">
        <h1 class="text-[23px] font-bold">
            <span class="bg-red inline-block p-2 rounded-full"></span> Phim đang chiếu
        </h1>
        <div class="mt-[10px] flex justify-between w-[270px]">
            <button class="border rounded-md w-[80px] h-[35px]
            hover:bg-sub-title ">2-9-2024</button>
            <button class="border  rounded-md w-[80px] h-[35px]
            hover:bg-sub-title ">2-9-2024</button>
            <button class="border rounded-md w-[80px] h-[35px]
            hover:bg-sub-title">2-9-2024</button>
        </div>
        <p class="text-warn mt-[10px]">Lưu ý: Khán giả dưới 13 tuổi chỉ chọn suất chiếu kết thúc trước 22h và Khán giả dưới 16 tuổi chỉ chọn suất chiếu kết
        thúc trước 23h.</p>
    </div>
    <div class="grid grid-cols-2 gap-3 basic-width mx-auto pb-[80px]">
        <app-movie-showtimes-card></app-movie-showtimes-card>
        <app-movie-showtimes-card></app-movie-showtimes-card>
        <app-movie-showtimes-card></app-movie-showtimes-card>
        <app-movie-showtimes-card></app-movie-showtimes-card>
        <app-movie-showtimes-card></app-movie-showtimes-card>
        <app-movie-showtimes-card></app-movie-showtimes-card>
    </div>
</div>
