<div class=" select-none cursor-pointer">
    <div class="rounded-xl overflow-hidden h-[212px] relative">
        <img src="assets/img/yourname.jpg" alt="" class="absolute left-0 right-0 top-[50%] translate-y-[-50%]
    hover:scale-110 transition duration-500">
    </div>
    <div>
        <p class="m-0 text-[15px] text-sub-title py-[8px]">20/10/2003</p>
        <h1 class="m-0 text-[18px]  font-bold text-title">Your Name – Tên cậu là gì? là một bộ phim điện ảnh hoạt hình Nhật Bản thuộc thể loại tình cảm lãng mạn, kỳ ảo, chính
        kịch do Shinkai Makoto làm đạo diễn. Phim do hãng CoMix Wave Films sản xuất và Toho phát hành</h1>
    </div>
</div>
